# TODO
version: '3.9'
services:

  api:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - redis

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  worker:
    build: .
    command: rq worker
    depends_on:
      - redis

